{% extends 'base.html' %}
{% load static %}
{% load video_token %}
{% block main_block %}
<style>
.video-container{
        float:left;
        width:100%;
        height:200px;
        position:relative;
        margin:20px 0 20px;
        border-radius:10px;
        background-color:#F7F3E9;
        box-shadow:0 1px 20px -6px rgba(0,0,0,.5);
        transition:box-shadow .3s ease;
        overflow:hidden;
        display:flex;
        justify-content:center;
        align-items:center;
        }
.clip-square{
   	width: 350px;
	height: 200px;
	margin: 0px;
	padding:0px;
	border:0px;
    }
.video-title
{
   	padding-bottom:0px;
   	border-bottom:0px;
   	margin-bottom: 0px;
    border-left:0px;
    margin-left:40px;
    margin-right:40px;
	color:#5EAAA8;
	font-size:30px;
	font-family:raleway;
	color:#5EAAA8;
}

</style>
<main> 
    <div class="container">
        <p class="paginary" style="text-align: center" >Find {{TOTAL_RESULT}} results about "{{KEY_WORD}}",currently at page {{page_obj.number}} / {{TOTAL_PAGE}}.<br></p>
        <p class="paginary" style="text-align: center" >Use {{intern}} second.<br></p> 
        {% for video in page_obj %}
        <div class="video-container">
                <div style="order:1;flex:1;padding:0px;">
                <h1 class="video-title"><a href="/video/Detail/{{ video.url|video_token }}"><b>{{video.title}}</b> </a></h1>
                </div>
            <div style="order:0;flex:0;">
            <img class="clip-square" src="{{video.image}}">
            </div>
        </div>
        {% endfor %}
        <p style="text-align: center">
            {% if page_obj.has_previous %}
            <a class="paginary" href="?page={{ page_obj.previous_page_number }}">Last page</a>
            {% endif %}
            <span class="paginary">The {{ page_obj.number }} page | Total {{ page_obj.paginator.num_pages }} page</span>
            {% if page_obj.has_next %}
            <a class="paginary" href="?page={{ page_obj.next_page_number }}">Next page</a>
            {% endif %} 
        </p>
        {% csrf_token %}
            <p>
                <form name="input" method="get" style="text-align:center">
                    <span class="paginary">Jump to<input type="text" class="box-jumppage" name="jump_page" value="" placeholder="">page.</span>
                </form>
            </p>
    </div>
</main>
{% endblock main_block %}